body {
  background: rgb(244, 244, 244);
}
.container {
  grid-template-rows: 72px 1fr 50px;
  height: 100vh;
  display: grid;
}

header {
  background: rgba(32, 32, 32, 1);
  top: 0;
  width: 100%;
}

h1 {
  font-size: 22px;
}

main {
  overflow-y: scroll;
  margin: 0 0 0 10px;
  padding: 12px;
  /* margin: auto; */
}

.header__wrapper {
  display: grid;
  width: 90%;
  height: 100%;
  margin: auto;
  grid-template-columns: 90% 10%;
  grid-template-rows: 1fr;
  justify-content: flex-end;
  align-items: center;
}

.header__logo {
  display: flex;
  height: 90%;
  width: 100%;
  align-items: center;
}

.header__logo img {
  border-radius: 100%;
  max-height: 72px;
  width: auto;
}
.header__logo .header__title {
  padding: 0 0 0 12px;
  color: whitesmoke;
  font-family: montserrat;
}

h1.header__title {
  font-weight: 400;
}

h1.header__title span {
  font-weight: 700;
}

.header__nav.nav__closed {
  display: none;
  justify-self: center;
}

.header__nav.nav__open {
  padding: 2em 0;
  background: rgba(32, 32, 32, 0.9);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr;
  gap: 2em;
  place-items: center;
  position: fixed;
  width: 100%;
}

.header__nav.nav__open a {
  z-index: 100;
  color: whitesmoke;
}

.header__burger {
  justify-self: flex-end;
}

.burger__line {
  width: 25px;
  height: 3px;
  background: whitesmoke;
  margin: 3px 0 0 0;
  transition: all 0.2s linear;
}

.header__burger-active div#line1 {
  transform: rotate(45deg) translate(3px, 5px);
}

.header__burger-active div#line3 {
  transform: rotate(-45deg) translate(4px, -6px);
}

.header__burger-active div#line2 {
  background: transparent;
}

footer {
  background: #c3c3c3;

  display: flex;
  justify-content: space-between;
  /* align-content: center; */
  align-items: center;
}

footer a img {
  padding: 0 2ch;
  max-height: 32px;
  width: auto;
}

/* article {
  margin: 1em 2ch;
} */
