.inactive,
.active {
  width: 30px;
  height: 30px;
}

.line {
  width: 100%;
  height: 3px;
  margin: 5px;
  background: white;
  border-radius: 4px;
  transition: all 0.2s ease;
}

div.active div#line1 {
  -webkit-transform: rotate(45deg) translate(6px, 5px);
  transform: rotate(45deg) translate(5px, 5px);
}

div.active div#line3 {
  -webkit-transform: rotate(-45deg) translate(9px, -8px);
  transform: rotate(-45deg) translate(6px, -7px);
}

div.active div#line2 {
  background: transparent;
}

/* @media (max-width: 512px) {
  .line {
    display: none;
  }
} */

@media (max-width: 280px) {
  .inactive,
  .active {
    width: 20px;
    height: 20px;
  }

  .line {
    width: 100%;
    height: 2px;
    margin: 4px;
    background: white;
    border-radius: 4px;
    transition: all 0.2s ease;
  }

  div.active div#line1 {
    -webkit-transform: rotate(45deg) translate(6px, 5px);
    transform: rotate(45deg) translate(3px, 5px);
  }

  div.active div#line3 {
    -webkit-transform: rotate(-45deg) translate(9px, -8px);
    transform: rotate(-45deg) translate(4px, -6px);
  }

  div.active div#line2 {
    background: transparent;
  }
}
